name: Build

on:
    workflow_dispatch:
    workflow_call:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.2

            - name: Preparation
              run: |
                  cp LICENSE debian/copyright

            - name: Build Debian package
              uses: jtdor/build-deb-action@v1
              env:
                  DEB_BUILD_OPTIONS: noautodbgsym
              with:
                  buildpackage-opts: --build=binary --no-sign

            - name: Upload Debian package artifact
              uses: actions/upload-artifact@v4
              with:
                  name: cooler-deb
                  path: debian/artifacts/*.deb
                  if-no-files-found: error
