name: Build Debian package

on: [pull_request]

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Create package source
        run: |
          mkdir -p pkg-src/usr/bin
          cp main.py pkg-src/usr/bin/raspi-fan-control
          mkdir -p pkg-src/etc/systemd/system/
          cp raspi-fan-control.service pkg-src/etc/systemd/system/raspi-fan-control.service
          PYTHON_PACKAGES=$(cat requirements.txt | xargs)
          sed -i "s/{{python-packages}}/$PYTHON_PACKAGES/" pkg-src/DEBIAN/postinst
          sed -i "s/{{python-packages}}/$PYTHON_PACKAGES/" pkg-src/DEBIAN/postrm
      - uses: jiro4989/build-deb-action@v2
        with:
          package: raspi-fan-control
          package_root: pkg-src
          maintainer: Serhii [boonya] Buinytskyi <me@boonya.info>
          version: 0
          arch: 'arm64'
          desc: 'RaspberryPI Cooling Fan Control Service.'
      - name: Upload package artifact
        uses: actions/upload-artifact@v2
