name: Build

on:
    workflow_call:
        inputs:
            version:
                type: string
                required: true
    workflow_dispatch:
        inputs:
            version:
                type: string
                required: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.2

            - name: Preparation
              run: |
                  chmod +x pkg/usr/local/bin/cooler.sh
                  mkdir -p pkg/usr/share/doc/cooler
                  cp LICENSE pkg/usr/share/doc/cooler/copyright

            - name: Build package
              uses: jiro4989/build-deb-action@v4.3.0
              with:
                  package: cooler
                  desc: "RaspberryPI Cooling Fan Control Service"
                  version: ${{ inputs.version }}+${{ github.ref_name }}
                  homepage: ${{ github.repositoryUrl }}
                  maintainer: ${{ github.repository_owner }}
                  arch: arm64
                  package_root: pkg

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: cooler-deb-package-${{ inputs.version }}+${{ github.ref_name }}
                  path: "*.deb"
