name: Build

on:
    workflow_dispatch:
    workflow_call:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6.0.2

            - name: Preparation
              run: |
                  chmod +x pkg/usr/local/bin/cooler.sh
                  mkdir -p pkg/usr/share/doc/cooler
                  cp LICENSE pkg/usr/share/doc/cooler/copyright

            - name: Build package
              uses: jiro4989/build-deb-action@v4.3.0
              with:
                  package: cooler
                  desc: "RaspberryPI Cooling Fan Control Service"
                  # arch: arm64
                  package_root: pkg
                  version: 1.0.0+${{ github.ref_name }}
                  homepage: ${{ github.repositoryUrl }}
                  maintainer: ${{ github.repository_owner }}
