name: Release

on:
    workflow_dispatch:
        inputs:
            version:
                type: string
                required: true
    release:
        types:
            - published

jobs:
    build:
        uses: ./.github/workflows/build.yml
        secrets: inherit
        with:
            version: ${{ github.ref_name }}

    publish:
        runs-on: ubuntu-latest
        needs:
            - build
        steps:
            - name: Download a Build Artifact
              uses: actions/download-artifact@v7.0.0
              with:
                  name: cooler-deb-package
            - name: Append artifacts to Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ github.event.release.tag_name }}
                  files: "*.deb"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
